body{
  
}

fieldset{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Abel', sans-serif;
}

h1{
  display: flex;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  justify-content: center;
}

select{
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  /* background-color: skyblue; */
}

button{
  font-family: 'Abel', sans-serif;
  background-color: skyblue;
  font-size: 16px;
  border-radius: 8px;
}


textarea{
  border-radius: 8px;
}

input{
  border-radius: 8px;
}